@import url('./dt-global_style.css');
@import url('./datatables.css');
@import url('./plugins.css');

#root {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    background: #f1f2f3;
    display: flex;
    flex-direction: column;
}
.mainContain {
    flex: 1;
    overflow: hidden !important;
    display: flex;
    flex-direction: column;
}
.center {
    text-align: center;
}
.main-container {
    overflow: hidden;
    flex: 1;
    display: flex;
    flex-direction: column;
}
.layout-px-spacing {
    flex: 1;
}
.responsiveFillFull {
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
}
.widget-content.widget-content-area.br-6 {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.dataTables_filter svg {
    position: absolute;
    top: 15px;
    right: 14px;
    width: 20px;
    color: #d3d3d3;
}
.dataTables_filter label {
    position: relative;
}
.dataTables_filter input {
    width: 150px;
    margin-left: 0.5em;
    display: inline-block;
    background: #fff;
    border: none;
    margin-top: 5px;
    -webkit-box-shadow: 2px 5px 17px 0 rgb(31 45 61 / 10%);
    box-shadow: 2px 5px 17px 0 rgb(31 45 61 / 10%);
    border-radius: 6px;
    border: 1px solid #e0e6ed;
    padding: 8px 30px 8px 14px;
}
.dropdown-toggle::after {
    display: inline !important;
    margin-left: 0 !important;
    vertical-align: 0 !important;
    content: '' !important;
    border-top: none !important;
    border-right: none !important;
    border-bottom: none !important;
    border-left: none !important;
}
select.form-control {
    padding: 0.375rem 1.75rem !important;
    background: #fff
        url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24' fill='none' stroke='%23d3d3d3' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-down'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e")
        20px 12px no-repeat;
}

body {
    color: #888ea8;
    height: 100%;
    font-size: 0.875rem;
    letter-spacing: 0.0312rem;
    font-family: 'Quicksand', sans-serif;
    max-width: 1600px;
    margin: 0 auto;
}

.page-link {
    margin-left: 5px !important;
    border-radius: 50% !important;
    text-align: center;
}
.page-item:first-child .page-link {
    border-top-left-radius: 50% !important;
    border-bottom-left-radius: 50% !important;
}
.page-item:last-child .page-link {
    border-top-right-radius: 50% !important;
    border-bottom-right-radius: 50% !important;
}
